body {
  font-family: 'roboto', sans-serif;
  color: #212121;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo .header-logo {
  color: #212121;
}

.logo .footer-logo {
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.navigation .item__link,
.navigation .contacts-item__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0px 32px 0px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .item__link:hover, .navigation .item__link:focus,
.navigation .contacts-item__link:hover,
.navigation .contacts-item__link:focus {
  color: #2196F3;
}

.navigation .item__link .contacts-item__link_logo,
.navigation .contacts-item__link .contacts-item__link_logo {
  fill: currentColor;
  display: block;
  margin-right: 10px;
}

.navigation .navigation__site-nav {
  margin-left: 93px;
}

.navigation .navigation__site-nav .navigation__nav-items {
  display: flex;
  padding: 0;
}

.navigation .navigation__site-nav .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation .navigation__contacts {
  display: flex;
  margin-left: auto;
  color: #757575;
}

.navigation .navigation__contacts .navigation__contacts-item:not(:last-child) {
  margin-right: 30px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.item__link_current {
  color: #2196F3;
  position: relative;
}

.item__link_current::after {
  position: absolute;
  bottom: -1px;
  left: 0px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
}

.hero__container {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0px;
}

.hero__container .hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__container .hero__button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 30px;
  min-width: 200px;
  max-height: 50px;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__container .hero__button:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features__items {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.features__items > .item:not(:last-child) {
  margin-right: 30px;
}

.features__items.item {
  width: 270px;
}

.features__items .item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__items .item__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.item__thumb {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.item__thumb_icons {
  width: 70px;
  height: 70px;
}

.what-doing {
  padding-top: 0px;
}

.what-doing .what-doing__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-doing__items {
  display: flex;
  padding: 0;
}

.what-doing__items .what-doing__item {
  position: relative;
}

.what-doing__items .what-doing__item:not(:last-child) {
  margin-right: 30px;
}

.what-doing__items .what-doing__item .what-doing-items__description {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-team {
  background-color: #F5F4FA;
}

.our-team .our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-team__items {
  display: flex;
  padding-left: 0px;
  margin: 0;
}

.our-team__items .our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
}

.our-team__items .our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__items .our-team__card {
  padding: 30px 0px;
}

.our-team__items .our-team__card .our-team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team__items .our-team__card .our-team-card__description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.our-team-card__items {
  display: flex;
  justify-content: center;
}

.our-team-card__items .our-team-card__item {
  cursor: pointer;
}

.our-team-card__items .our-team-card__item:not(:last-child) {
  margin-right: 10px;
}

.our-team-card__items .our-team-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-card__items .our-team-card__link:hover, .our-team-card__items .our-team-card__link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.our-team-card__items .our-team-card__link .our-team-card__logo {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__items {
  display: flex;
  justify-content: center;
}

.clients__box .clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__box .clients__link:hover, .clients__box .clients__link:focus {
  border-color: #2196F3;
}

.clients__box .clients__link .sprite {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__box .clients__link:hover .sprite,
.clients__box .clients__link:focus .sprite {
  fill: #2196F3;
}

.clients__box:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2F303A;
}

.footer .footer__container {
  padding: 0 0;
}

.footer .footer__sections {
  display: flex;
  align-items: baseline;
  padding: 60px 15px;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
}

.footer__address .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address .address__map_link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address .address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address .address__link:hover, .footer__address .address__link:focus {
  color: #2196F3;
}

.footer__join {
  margin-left: 83px;
}

.footer__join .footer__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__list {
  display: flex;
  margin-top: 20px;
}

.footer__list .footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list .footer__link:hover, .footer__list .footer__link:focus {
  background-color: #2196F3;
}

.footer__list .footer__link .footer__link_logo {
  display: block;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__list .footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__subscribe {
  margin-left: 93px;
}

.footer__subscribe .subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__subscribe .footer__form {
  display: flex;
}

.footer__subscribe .subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe .subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe .subscribe__input:focus {
  border-color: #2196F3;
}

.footer__subscribe .subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  max-height: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe .subscribe__button:hover, .footer__subscribe .subscribe__button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__subscribe .subscribe__button .footer__form_icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop__modal .backdrop__modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.backdrop__modal .backdrop__modal-button .backdrop__modal-button_icon {
  fill: #000000;
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal .backdrop__modal-button:hover .backdrop__modal-button_icon,
.backdrop__modal .backdrop__modal-button:focus .backdrop__modal-button_icon {
  fill: #2196F3;
}

.backdrop__modal-form {
  display: flex;
  flex-direction: column;
}

.backdrop__modal-form .backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.backdrop__modal-form .backdrop__submit-btn {
  display: block;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  min-height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.backdrop__modal-form .backdrop__submit-btn:hover, .backdrop__modal-form .backdrop__submit-btn:focus {
  background-color: #188CE8;
}

.backdrop__modal-form .backdrop__message-label {
  margin-bottom: 4px;
}

.backdrop__modal-form .backdrop__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.backdrop__modal-form .backdrop__message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__modal-form .backdrop__message:focus {
  border-color: #2196F3;
  outline: none;
}

.backdrop__modal-form .backdrop__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.backdrop__input-container {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.backdrop__input-container .backdrop__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input-container .backdrop__input:focus {
  border-color: #2196F3;
  outline: none;
}

.backdrop__input_icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input:focus + .backdrop__input_icons {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-close-backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__checkbox {
  position: relative;
  margin-bottom: 30px;
  align-self: center;
}

.backdrop__checkbox .backdrop__checkbox-input {
  position: absolute;
  top: 20px;
  left: 10px;
}

.backdrop__checkbox .backdrop__checkbox-input:focus + .backdrop__checkbox-label::before {
  border-color: #2196F3;
}

.backdrop__checkbox .backdrop__checkbox-input:checked + .backdrop__checkbox-label::before {
  background-color: #2196F3;
  background-image: url(../images/checkbox-svg/icon-checkbox-checked.svg);
  background-position: center;
  background-size: 110%;
  border-color: #2196F3;
}

.backdrop__checkbox .backdrop__checkbox-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop__checkbox .backdrop__checkbox-label::before {
  content: "";
  border: 2px solid #212121;
  border-radius: 3px;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  vertical-align: middle;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__checkbox .backdrop__checkbox-label .backdrop__policy-link {
  text-decoration: underline;
  color: #2196F3;
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -30px 0px 0px -30px;
}

.portfolio__cards .portfolio__item-description {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.portfolio__cards .portfolio__item-description .portfolio__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__cards .portfolio__item-description .portfolio__item-content {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__card-item {
  flex-basis: calc((100% - 90px)/3);
  margin-top: 30px;
  margin-left: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-item:hover, .portfolio__card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-item .portfolio__card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-item .portfolio__card-link .portfolio__card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__card-item .portfolio__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-link:hover .portfolio__card-overlay,
.portfolio__card-link:focus .portfolio__card-overlay {
  transform: translateY(0%);
}

.portfolio__filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-list .portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter-list .portfolio__filter-button {
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 1px solid #EEEEEE;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-list .portfolio__filter-button:hover, .portfolio__filter-list .portfolio__filter-button:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #2196F3;
}
/*# sourceMappingURL=main.css.map */