.footer {
    background-color: #2F303A;
    .footer__container {
        padding: 0 0;
    }
    .footer__sections {
        display: flex;
        align-items: baseline;
        padding: 60px 15px;
    }
}