.subscribe {
    margin-left: 93px;
    .subscribe-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $additionalColor;
        margin-bottom: 20px;
    }
    .subscribe-email {
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        width: 358px;
        height: 50px;
        padding-left: 16px;
        background-color: transparent;
        color: $additionalColor;
        outline: none;
        transition: border-color 250ms $transitionTimingFunc;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        &:focus {
            border-color: $hoverColor;
        }
    }
    .subscribe-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.06em;
        color: $additionalColor;
        margin-left: 12px;
        background-color: $hoverColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        min-width: 200px;
        max-height: 50px;
        border: none;
        cursor: pointer;
        transition: background-color 250ms $transitionTimingFunc, box-shadow 250ms $transitionTimingFunc;
        &:hover,
        &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        .icon-send {
            fill: $additionalColor;
            width: 24px;
            height: 24px;
            margin-left: 10px;
        }
    }
}