.footer__join {
    margin-left: 83px;
    .footer__description {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.footer__list {
    display: flex;
    margin-top: 20px;
    .footer__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms $transitionTimingFunc;
        &:hover,
        &:focus {
            background-color: $hoverColor;
        }
        .footer__link_logo {
            display: block;
            width: 20px;
            height: 20px;
            fill: $additionalColor;
        }
    }
    .footer__item:not(:last-child) {
        margin-right: 10px;
    }
}