.our-team {
    background-color: #F5F4FA;
    .our-team__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
}

.our-team__items {
    display: flex;
    padding-left: 0px;
    margin: 0;
    .our-team__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        background-color: $additionalColor;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .our-team__card {
        padding: 30px 0px;
        .our-team-card__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
        .our-team-card__description {
            color: $secondColor;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            letter-spacing: 0.03em;
            margin-bottom: 16px;
        }
    }
}

.our-team-card__items {
    display: flex;
    justify-content: center;
    .our-team-card__item {
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .our-team-card__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $additionalColor;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #AFB1B8;
        transition: background-color 250ms $transitionTimingFunc, color 250ms $transitionTimingFunc;
        &:hover,
        &:focus {
            background-color: $hoverColor;
            color: $additionalColor;
        }
        .our-team-card__logo {
            display: block;
            width: 20px;
            height: 20px;
            fill: currentColor;
        }
    }
}